[submodule "glfw"]
    path = Libraries/glfw
    url = https://github.com/glfw/glfw.git
    branch = master
[submodule "glm"]
    path = Libraries/glm
    url = https://github.com/g-truc/glm.git
    branch = master
[submodule "glog"]
    path = Libraries/glog
    url = https://github.com/google/glog.git
    branch = master
[submodule "SDL"]
    path = Libraries/SDL
    url = https://github.com/libsdl-org/SDL.git
    branch = main
[submodule "vk-bootstrap"]
    path = Libraries/vk-bootstrap
    url = https://github.com/charles-lunarg/vk-bootstrap.git
    branch = main